#!jinja2
########################
# Items that may need changed
{% set MAIL_ADDRESS = "neil.barton@noaa.gov" %}

####################################
# define suite
#   hopefully user does not have to edit anything below here
{% set ICP = '19940101' %}
{% set FCP = '20240101' %}
{% set ATMRES = "C96" %}
{% set OCNRES = "mx100" %}
{% set C96_REPLAY = False %}
{% set DATES = "01T00" %}

####################################
# DATES option
# P1W                   : Run once a week Start on {{ ICP }}
# W-4T00                : Run on Thursdays
# W-1T00,W-4T00         : Run on Mondays and Thursdays
# 01T00                 : Run on the First of each month
# R1/20151101T00,R1/... : Run these Specifc Dates

####################################
# Options based on the above
{% set CHGRES_MODELS = "ATM, OCN, ICE" %}
{% if C96_REPLAY %}
{% set ATMRES = "C96" %}
{% set OCNRES = "mx100" %}
{% endif %}

{% if ATMRES == "C384" %}
{% set MODELS = "ATM, OCN, ICE, WAV, MED" %}
{% set POST_MODELS = "AER, ICE, MED" %}

{% else %}
# C96 from new low res replay
{% if C96_REPLAY %}
{% set MODELS = "ALL" %}
{% set POST_MODELS = "AER, ICE, MED" %}

{% else %}
# C96 or C192 from changres 
{% set MODELS = "ATM, OCN, ICE " %}
{% set POST_MODELS = "AER, ICE" %}
{% endif %} #if C96_REPLAY
{% endif %} #if C384

{% set PERTURBATION_MODELS = "ATM, OCN" %}

[meta]
    title = "grab, process, organize, and store replay ICs"

[cylc]
    UTC mode = True
    [[environment]]
        MAIL_ADDRESS = {{ MAIL_ADDRESS }}
    [[parameters]]
        models = {{ MODELS }}
        post_models = {{ POST_MODELS }}
        perturbation_models = {{ PERTURBATION_MODELS }}
        chgres_models = {{ CHGRES_MODELS }}

[scheduling]
    initial cycle point = {{ ICP }}
    final cycle point = {{ FCP }}
    max active cycle points = 25
    [[queues]]
        [[[default]]]
            limit = 22
        [[[AER_GRAB]]]
            limit = 5
            members = post_AER
        [[[BACKGROUND]]]
            limit = 8
            members = GET, GET_PERTURBATIONS
    [[dependencies]]

[[[{{ DATES }}]]]
    graph = """
        GET
        
        {% if C96_REPLAY %} 
        get_ALL        => post_ICE & post_AER & post_MED
        {% else %}
        get_ATM        => post_AER 
        get_ICE        => post_ICE
        
        {% if ATMRES == 'C384' %} 
        get_MED        => post_MED
        
        {% else %}
        post_AER        => chgres_ATM
        chgres_ATM      => link_member_dirs
        
        {% endif %}
        
        {% if OCNRES != 'mx025' %}
        post_ICE        => chgres_ICE
        get_OCN         => chgres_OCN
        CHGRES:succeed-all => link_member_dirs
        {% endif %}
        
        {% endif %} # C96_REPLAY

        
        GET_PERTURBATIONS:succeed-all => link_member_dirs
        GET:succeed-all               => link_member_dirs
        POST:succeed-all              => link_member_dirs
        link_member_dirs              => ics_to_hpss
        
        """

################################################
# tasks
[runtime]
    [[root]] 
        init-script = """
umask 022
set -xu
export SCRIPT_DIR=${CYLC_SUITE_DEF_PATH}/SCRIPTS
"""
        pre-script = """
source ${CYLC_SUITE_DEF_PATH}/SCRIPTS/modules.sh
        """
        post-script = """
rm -r ${CYLC_TASK_WORK_DIR}
        """
        [[[environment]]]
            DTG                 = $(cylc cycle-point --template=%Y%m%d%H)
            ATMRES              = {{ ATMRES }}
            OCNRES              = {{ OCNRES }}
            C96_REPLAY          = {{ C96_REPLAY }}
        [[[job]]]
            execution retry delays = 3*PT10M
            batch system = slurm
        [[[events]]]
            failed handler  = cylc email-task
            submission failed handler = cylc email-task
        [[[directives]]]
            --account = marine-cpu
            --ntasks = 1
            --time = 00:30:00
            --mem = 0
            #--qos = debug

####################################
# grab experiments and obs
    [[HPSS]]
        [[[directives]]]
            --partition = service
    [[GET]]
        [[[job]]]
            batch system = background
    [[get<models>]]
        inherit = GET
        script = """
        model=${CYLC_TASK_PARAM_models}
        ${SCRIPT_DIR}/get_${model}.sh ${DTG} 
        """
    [[POST]]
        [[[job]]]
            batch system = background
    [[post<post_models>]]
        inherit = POST
        script = """
        model=${CYLC_TASK_PARAM_post_models}
        ${SCRIPT_DIR}/post_${model}.sh ${DTG}
        """
    [[GET_PERTURBATIONS]]
        inherit = HPSS
        [[[job]]]
            batch system = background
    [[get_perturbations<perturbation_models>]]
        inherit = GET_PERTURBATIONS
        script = """
        model=${CYLC_TASK_PARAM_perturbation_models}
        ${SCRIPT_DIR}/get_perturbations_${model}.sh ${DTG} 
        """
    #[[chgres_compile]]
    #    script = """
    #    ${SCRIPT_DIR}/chgres_compile.sh 
    #    """
    #    [[[job]]]
    #        batch system = background
    [[CHGRES]]
        [[[directives]]]
            --ntasks = 6
    [[chgres<chgres_models>]]
        inherit = CHGRES
        script = """
        model=${CYLC_TASK_PARAM_chgres_models}
        ${SCRIPT_DIR}/chgres_${model}.sh ${DTG}
        """
    [[link_member_dirs]]
        script = """
        ${SCRIPT_DIR}/link_member_dirs.sh ${DTG} 
        """
        [[[job]]]
            batch system = background
    [[ics_to_hpss]]
        inherit = HPSS
        script = """
        ${SCRIPT_DIR}/hpss_put_ICs.sh ${DTG} 
        """
   
