#!jinja2
########################
# Items that may need changed
{% set MAIL_ADDRESS = "***" %}

####################################
# define suite
#   hopefully user does not have to edit anything below here
{% set ICP = '20080508' %}
{% set FCP = '20080510' %}
{% set MODELS = "ATM, OCN, ICE, WAV, MED" %}
{% set POST_MODELS = "AER, ICE, MED" %}
{% set PERTURBATION_MODELS = "ATM, OCN" %}

[meta]
    title = "grab, process, organize, and store replay ICs"

[cylc]
    UTC mode = True
    [[environment]]
        MAIL_ADDRESS = {{ MAIL_ADDRESS }}
    [[parameters]]
        models = {{ MODELS }}
        post_models = {{ POST_MODELS }}
        perturbation_models = {{ PERTURBATION_MODELS }}

[scheduling]
    initial cycle point = {{ ICP }}
    final cycle point = {{ FCP }}
    max active cycle points = 4
    [[queues]]
        [[[default]]]
            limit = 42
    [[dependencies]]

[[[P1D]]]
    graph = """
        WGET
        wget_ATM      => post_AER 
        wget_ICE      => post_ICE
        wget_MED      => post_MED
        GET_PERTURBATIONS:succeed-all => link_member_dirs
        WGET:succeed-all           => link_member_dirs
        POST:succeed-all           => link_member_dirs
        link_member_dirs           => ics_to_hpss
        """

################################################
# tasks
[runtime]
    [[root]] 
        init-script = """
umask 022
set -xu
export SCRIPT_DIR=${CYLC_SUITE_DEF_PATH}/SCRIPTS
"""
        pre-script = """
source ${CYLC_SUITE_DEF_PATH}/SCRIPTS/modules.sh
        """
        post-script = """
rm -r ${CYLC_TASK_WORK_DIR}
        """
        [[[environment]]]
            DTG                 = $(cylc cycle-point --template=%Y%m%d%H)
        [[[job]]]
            #execution retry delays = 3*PT10M
            batch system = slurm
        #[[[events]]]
        #    failed handler  = cylc email-task
        #    submission failed handler = cylc email-task
        [[[directives]]]
            --account = marine-cpu
            --ntasks = 1
            --time = 00:30:00
            --mem = 0
            #--qos = debug

####################################
# grab experiments and obs
    [[HPSS]]
        [[[directives]]]
            --partition = service
    [[WGET]]
        [[[job]]]
            batch system = background
    [[wget<models>]]
        inherit = WGET
        script = """
        model=${CYLC_TASK_PARAM_models}
        ${SCRIPT_DIR}/wget_${model}.sh ${DTG} 
        """
    [[POST]]
        [[[job]]]
            batch system = background
    [[post<post_models>]]
        inherit = POST
        script = """
        model=${CYLC_TASK_PARAM_post_models}
        ${SCRIPT_DIR}/post_${model}.sh ${DTG}
        """
    [[GET_PERTURBATIONS]]
        inherit = HPSS
    [[get_perturbations<perturbation_models>]]
        inherit = GET_PERTURBATIONS
        script = """
        model=${CYLC_TASK_PARAM_perturbation_models}
        ${SCRIPT_DIR}/hpss_get_perturbations_${model}.sh ${DTG} 
        """
    [[link_member_dirs]]
        script = """
        ${SCRIPT_DIR}/link_member_dirs.sh ${DTG} 
        """
        [[[job]]]
            batch system = background
    [[ics_to_hpss]]
        inherit = HPSS
        script = """
        ${SCRIPT_DIR}/hpss_put_ICs.sh ${DTG} 
        """
   
